::-webkit-scrollbar {
    display: none;
}


@font-face {
    font-family: 'Helvetica Display Black';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-black.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-black.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Display ExtraBlack';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-extblk.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-extblk.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Display Bold';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-bold.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-bold.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Display ExtraBold';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-extrabold.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-extrabold.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Display Medium';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-medium.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-medium.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Display Regular';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-regular.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-regular.woff') format('woff');
}

/* NO TOCAR  */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* NO TOCAR  */

/* NO TOCAR  */
.content {
    flex: 1;
}

/* NO TOCAR  */

/* HEADER */

header {
    padding: 20px;
    display: flex;
    align-items: center;
}

/*SLIDER*/

.sliderImg {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.slick-slider {
    width: 100%;
    height: 450px;
    background-color: #272727;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-track {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slick-slide {
    flex: 0 0 33.33%;
    opacity: 0.5;
    z-index: 1;
    transform: scale(0.8);
    filter: blur(2px);
    transition: all 1000ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    opacity: 1;
    z-index: 2;
    transform: scale(1);
    filter: blur(0);
}

.slick-slider,
.slick-track,
.slick-slide,
.slick-slide img {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .sliderImg {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
    }

    .slick-slider {
        width: 100%;
        height: 450px;
        background-color: #272727;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .slick-track {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .slick-slide {
        flex: 0 0 33.33%;
        opacity: 0.5;
        z-index: 1;
        transform: scale(0.9);
        filter: blur(2px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        opacity: 1;
        z-index: 2;
        transform: scale(1);
        filter: blur(0);
    }

    .slick-slider,
    .slick-track,
    .slick-slide,
    .slick-slide img {
        margin: 0;
        padding: 0;
    }
}

/* SEARCHBAR */

.divSearchBar {
    padding-bottom: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.searchBar {
    background-color: #E4FF1A;
    width: 80%;
    height: 44px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Helvetica Display Bold', sans-serif;
}

.searchInput {
    all: unset;
    font-family: 'Helvetica Display Bold', sans-serif;
    font-size: 30px;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

.searchInput::placeholder {
    color: black;
    opacity: 0.7;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

    .searchBar {
        background-color: #E4FF1A;
        width: 100%;
        height: 100px;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Helvetica Display ExtraBold', sans-serif;
    }

    .searchInput {
        all: unset;
        font-family: 'Helvetica Display ExtraBold', sans-serif;
        font-size: 50px;
        color: black;
        height: 100%;
        width: 100%;
        padding: 6px 10px;
    }

    .searchInput::placeholder {
        color: black;
        opacity: 0.7;
    }

    .searchButton {
        all: unset;
        cursor: pointer;
        width: 44px;
        height: 44px;
    }
}

/* FOOTER */

.footerText {
    font-size: 20px;
    color: #272727;
}

.footerContainer {
    font-family: 'Helvetica Display Bold', sans-serif;
    background-color: #E4FF1A;
    width: 100%;
    padding: 1em;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {


    .footerText {
        font-size: 40px;
        color: #272727;
    }

    .footerContainer {
        font-family: 'Helvetica Display Bold', sans-serif;
        background-color: #E4FF1A;
        width: 100%;
        padding: 1em;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/* EVENT */

.eventClass {
    text-align: center;
    font-family: 'Helvetica Display Bold', sans-serif;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    flex: 1;
    box-sizing: border-box;
    max-width: 90%;
}

.eventName {
    display: inline-block;
    color: #E8EBF7;
    font-size: 80px;
    font-family: 'Helvetica Display Black', sans-serif;
    text-transform: uppercase;
}

.eventDate {
    display: inline-block;
    color: #E8EBF7;
    font-size: 60px;
    font-family: 'Helvetica Display Bold', sans-serif;
}

.eventDescription {
    display: inline-block;
    color: #E8EBF7;
    font-size: 40px;
    font-family: 'Helvetica Display Bold', sans-serif;
    text-transform: uppercase;
}

.eventLocation {
    display: inline-block;
    color: #E8EBF7;
    font-size: 30px;
    font-family: 'Helvetica Display Bold', sans-serif;
    text-transform: uppercase;
}

.imgEvent {
    border-radius: 10px;
    width: 60%;
    height: 400px;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .eventClass {
        text-align: center;
        font-family: 'Helvetica Display Bold', sans-serif;
        border-radius: 10px;
        margin: 0 auto;
        position: relative;
        flex: 1;
        box-sizing: border-box;
        max-width: 90%;
        touch-action: manipulation;
    }

    .eventName {
        display: inline-block;
        color: #E8EBF7;
        font-size: 160px;
        font-family: 'Helvetica Display Black', sans-serif;
    }

    .eventDate {
        display: inline-block;
        color: #E8EBF7;
        font-size: 100px;
        font-family: 'Helvetica Display Bold', sans-serif;
    }

    .eventDescription {
        display: inline-block;
        color: #E8EBF7;
        font-size: 70px;
        font-family: 'Helvetica Display Medium', sans-serif;
    }

    .eventLocation {
        display: inline-block;
        color: #E8EBF7;
        font-size: 50px;
        font-family: 'Helvetica Display ExtraBold', sans-serif;
    }

    .nombrePublica {
        font-family: 'Helvetica Display Medium', sans-serif;
        text-align: left;
        padding-left: 3%;
        font-size: 80px;
    }
}

/*EDIT EVENT*/

.inputEvent {
    font-family: 'Helvetica Display Bold', sans-serif;
    color: #E8EBF7;
    background-color: #313131;
    border: 0;
    font-size: 35px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.inputEvent::placeholder {
    color: #E8EBF7;
    opacity: 0.5;
}

.editInput {
    font-family: 'Helvetica Display Bold', sans-serif;
    color: #E8EBF7;
    background-color: #272727;
    border: 0;
    font-size: 35px;
    width: 100%;
}

.editInput {
    resize: none;
    overflow: hidden;
}

.editInput::placeholder {
    color: #E8EBF7;
    opacity: 0.5;
}

.editInput::focus {
    background-color: #272727;
    color: #E8EBF7;
    outline: none;
    box-shadow: none;
}

.placeholder-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    filter: opacity(0.5);
}

.image-overlay {
    position: absolute;
    font-family: 'Helvetica Display ExtraBold', sans-serif;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 10px;
    font-size: 30px;
}

.image-container:hover .image-overlay {
    opacity: 1;
}

/* EVENT INFO */

.event-container {
    display: flex;
    height: 100%;
    gap: 10px;
    justify-content: center;
}

.input-container,
.image-container,
.map-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    width: 100%;
}

.data-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    align-items: center;
    max-width: 33.33%;
}

.image-container {
    position: relative;
    cursor: pointer;
    max-width: 33.33%;
}

.image-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

    .labelEvent,
    .inputEvent {
        font-family: 'Helvetica Display ExtraBold', sans-serif;
        width: 100%;
        color: #E8EBF7;
        font-size: 70px;
    }

    .labelEvent {
        display: block;
        text-align: left;
    }

    .inputEvent {
        background-color: #272727;
        padding: 10px;
        margin-bottom: 20px;
    }

    .inputEvent::placeholder {
        color: #E8EBF7;
        opacity: 0.7;
    }

    .inputEvent:focus {
        /* background-color: #272727; */
        color: #E8EBF7;
        outline: none;
        box-shadow: none;
    }

    .input-container {
        order: 2;
        flex: none;
        width: 100%;
    }

    .image-style {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        display: block;
    }

    .placeholder-style {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        display: block;
        filter: opacity(0.5);
    }

    .input-container,
    .image-container,
    .map-container {
        flex: none;
        width: 100%;
    }

    .date-flyer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4%;
    }

    .date-container input[type="date"] {
        width: 100%;
        box-sizing: border-box;
    }

    form>div[style*="text-align: center"] {
        margin-top: 53vh;
    }

    .image-overlay {
        position: absolute;
        font-family: 'Helvetica Display ExtraBold', sans-serif;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s ease;
        border-radius: 10px;
        font-size: 60px;
    }
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

    .event-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: 100%;
    }

    .data-container {
        order: 2;
        max-width: 100%;
    }

    .image-container {
        order: 1;
        border-radius: 30px;
        max-width: 100%;
    }

    .map-container {
        order: 3;
        border-radius: 30px;
        flex: none;
        width: 100%;
        height: 300px;
    }
}


/* EVENT BOX */

.eventBoxTitle {
    text-align: center;
    font-family: 'Helvetica Display Black', sans-serif;
    font-size: 100px;
    color: #7D53DE;
    text-transform: uppercase;
}

.eventBoxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.eventBox {
    width: 350px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.imgEventBox {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.nameEventBox {
    font-family: 'Helvetica Display ExtraBold', sans-serif;
    font-size: 30px;
    padding: 10px;
    flex: 1 1 auto;
    text-align: center;
    margin: 0;
    overflow: hidden;
    text-transform: uppercase;
    color: black;
    background-color: #E8EBF7;
}

.eventBoxBtnBuy {
    font-family: 'Helvetica Display ExtraBold', sans-serif;
    font-size: 25px;
    text-align: center;
    background: #E4FF1A;
    display: block;
    padding: 10px;
    width: auto;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
}

.eventBox:hover .eventBoxBtnBuy {
    letter-spacing: 2px;
    color: #E8EBF7;
    background-color: #7D53DE;
}


.eventBox:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px #E4FF1A;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

    .eventBoxTitle {
        padding-top: 40px;
        text-align: center;
        font-family: 'Helvetica Display Black', sans-serif;
        font-size: 100px;
        color: #7D53DE;
    }

    .eventBoxContainer {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .eventBox {
        width: 100%;
        max-width: none;
        border-radius: 30px;
        margin: auto;
        margin-bottom: 50px;
    }

    .imgEventBox {
        width: 100%;
        min-height: 800px;
        object-fit: cover;
        display: block;
    }

    .nameEventBox {
        font-family: 'Helvetica Display ExtraBold', sans-serif;
        font-size: 60px;
        text-align: center;
        display: block;
        width: auto;
        overflow: hidden;
    }

    .eventBoxBtnBuy {
        font-family: 'Helvetica Display ExtraBold', sans-serif;
        font-size: 65px;
        text-align: center;
        background: #E4FF1A;
        display: block;
        padding: 10px;
        width: auto;
        color: black;
        transition: 0.3s;
        cursor: pointer;
        border-top: 0;
    }
}

/* CREATE TYPE TICKET */

.create-type-ticket-form .inputs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    margin: 0 5px;
    background-color: #272727;
    border: 0;

}


@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

    .col-form-label {
        display: flex;
        align-items: center;
    }

    .col-sm-9 {
        min-width: 100%;
    }

    .create-type-ticket-form,
    .create-type-ticket-form .form-control,
    .create-type-ticket-form .col-form-label,
    .create-type-ticket-form .form-check-input {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 65px;
    }

}

/* TICKET */

.ticket-text {
    font-size: 25px;
    margin: 0;
    font-family: 'Helvetica Display ExtraBold', sans-serif;
    text-transform: uppercase;
}

.nameRRPP {
    font-size: 50px;
    margin: 0;
    text-align: left;
    font-family: 'Helvetica Display Bold', sans-serif;
}

.create-ticket-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #E4FF1A;
}

.ticket-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #E4FF1A;
}

.ticket-containerRRPP {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #B1CD4A;
}

.ticket-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-Remove,
.btn-Add {
    font-family: 'Helvetica Display Black', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px 15px;
    display: inline-block;
    color: #E8EBF7;
    transition: 0.3s;
    cursor: pointer;
    border: 0;
    margin: 0 10%;
    max-width: 100%;
    border-radius: 10px;
}

.btn-Remove {
    background: #7D53DE;
}

.btn-Remove:hover {
    color: #272727;
    background-color: #E8EBF7;
}

.btn-Add {
    background: #7D53DE;
}

.btn-Add:hover {
    color: #272727;
    background-color: #E8EBF7;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

    .ticket-text {
        font-size: 60px;
        margin: 0;
        font-family: 'Helvetica Display ExtraBold', sans-serif;
    }

    .ticket-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 30px;
    }

    .ticket-containerRRPP {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 30px;
    }

    .ticket-column {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .quantity-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-Remove,
    .btn-Add {
        font-family: 'Helvetica Display ExtraBold', sans-serif;
        font-size: 60px;
        text-align: center;
        padding: 0px 15px;
        display: inline-block;
        color: #E8EBF7;
        transition: 0.3s;
        cursor: pointer;
        border: 0;
        margin: 0 3%;
        max-width: 100%;
        border-radius: 20px;
    }

    .btn-Remove {
        background: #7D53DE;
    }

    .btn-Remove:hover {
        color: #272727;
        background-color: #E8EBF7;
    }

    .btn-Add {
        background: #7D53DE;
    }

    .btn-Add:hover {
        color: #272727;
        background-color: #E8EBF7;
    }

    .nameRRPP {
        font-size: 80px;
        margin: 0;
        text-align: left;
        font-family: 'Bebas Neue', sans-serif;
    }

}

/* MODAL */

.custom-modal {
    font-family: 'Helvetica Display Bold', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #272727;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    max-height: 100%;
}

.custom-modal form {
    display: grid;
    gap: 25px;
}

.custom-modal input {
    width: 100%;
    padding: 3px;
    font-size: 30px;
    border: 0;
    color: #E8EBF7;
    background-color: #272727;
    text-transform: uppercase;
}

.custom-modal input:focus {
    background-color: #272727;
    outline: none;
    color: #E8EBF7;
    box-shadow: none;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.btn-Modal-Buy,
.btn-Modal-Back {
    font-family: 'Helvetica Display ExtraBold', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 10px 15px;
    width: auto;
    transition: 0.3s;
    cursor: pointer;
    width: auto;
    border: 0;
    max-width: 100%;
    border-radius: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.btn-Modal-Buy {
    background: #E4FF1A;
    color: #272727;
}

.btn-Modal-Buy:hover {
    letter-spacing: 2px;
    color: #E8EBF7;
    background-color: #7D53DE;
}

.btn-Modal-Back {
    background: #FF5714;
}

.btn-Modal-Back:hover {
    letter-spacing: 2px;
    color: #E8EBF7;
    background-color: #7D53DE;
}


@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .custom-modal {
        font-family: 'Helvetica Display Bold', sans-serif;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #272727;
        border-radius: 30px;
        padding: 20px;
        width: 900px;
        height: 1100px;
        overflow: auto;
    }

    .custom-modal form {
        display: grid;
        gap: 70px;
    }

    .custom-modal input {
        width: 100%;
        padding: 3px;
        font-size: 70px;
        border: 0;
        color: #E8EBF7;
        background-color: #303030;
        border-radius: 30px;
        text-transform: uppercase;
    }

    .custom-modal input:focus {
        background-color: #272727;
        outline: none;
        color: #E8EBF7;
        box-shadow: none;

    }

    .btn-container {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .btn-Modal-Buy,
    .btn-Modal-Back {
        font-family: 'Helvetica Display ExtraBold', sans-serif;
        font-size: 60px;
        text-align: center;
        padding: 10px 15px;
        width: auto;
        transition: 0.3s;
        cursor: pointer;
        width: auto;
        border: 0;
        max-width: 100%;
        border-radius: 30px;
        display: inline-block;
        text-transform: uppercase;
    }

    .btn-Modal-Buy {
        order: 2;
        background: #E4FF1A;
        color: #272727;
    }

    .btn-Modal-Buy:hover {
        letter-spacing: 2px;
        color: #E8EBF7;
        background-color: #7D53DE;
    }

    .btn-Modal-Back {
        order: 1;
        background: #FF5714;
        color: #272727;
    }

    .btn-Modal-Back:hover {
        letter-spacing: 2px;
        color: #E8EBF7;
        background-color: #7D53DE;
    }
}

/* BUTTON MAIN */

.btnMain {
    font-family: 'Helvetica Display ExtraBold', sans-serif;
    font-size: 25px;
    text-align: center;
    background: #E4FF1A;
    padding: 10px 15px;
    width: auto;
    color: #272727;
    transition: 0.2s;
    cursor: pointer;
    width: auto;
    border: 0;
    max-width: 100%;
    border-radius: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.btnMain:hover {
    letter-spacing: 2px;
    color: #E8EBF7;
    background-color: #7D53DE;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .btnMain {
        font-family: 'Helvetica Display ExtraBold', sans-serif;
        font-size: 70px;
        text-align: center;
        background: #E4FF1A;
        padding: 10px 15px;
        width: auto;
        color: #272727;
        transition: 0.3s;
        cursor: pointer;
        width: auto;
        border: 0;
        max-width: 100%;
        border-radius: 30px;
        display: inline-block;
    }

    .btnMain:hover {
        color: #E8EBF7;
        background-color: #7D53DE;
    }
}

/* BUTTON HEADER */

.box-1 {
    display: flex;
    outline: 2px;
    margin-left: auto;
    margin-right: 0;
    padding-left: 1em;
}

.btnHeader {
    font-family: 'Helvetica Display ExtraBold', sans-serif;
    font-size: 25px;
    text-align: center;
    background: #E4FF1A;
    padding: 10px 15px;
    width: auto;
    color: #272727;
    transition: 0.1s;
    cursor: pointer;
    width: auto;
    border: 0;
    max-width: 100%;
    border-radius: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.btnHeader span {
    transition: all 0.1s;
}

.btnHeader:hover {
    letter-spacing: 2px;
    color: #E8EBF7;
    background-color: #7D53DE;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .box-1 {
        display: flex;
        outline: 2px;
        margin-left: auto;
        margin-right: 0;
        overflow: hidden;
    }

    .btnHeader {
        font-family: 'Helvetica Display ExtraBold', sans-serif;
        font-size: 40px;
        text-align: center;
        background: #E4FF1A;
        width: auto;
        color: #272727;
        transition: 0.1s;
        cursor: pointer;
        width: auto;
        max-width: 100%;
        border-radius: 30px;
        display: block;
    }

    .btnHeader span {
        transition: all 0.1s;
    }

    .btnHeader:hover {
        letter-spacing: 2px;
        color: #E8EBF7;
        background-color: #7D53DE;
    }
}

/* BUTTON LOGOUT */

.btnLogout {
    font-family: 'Helvetica Display ExtraBold', sans-serif;
    font-size: 25px;
    text-align: center;
    background: #E4FF1A;
    padding: 10px 15px;
    width: 100%;
    color: #272727;
    transition: 0.1s;
    cursor: pointer;
    width: auto;
    border: 0;
    max-width: 100%;
    border-radius: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.btnLogout span {
    position: relative;
    z-index: 3;
    transition: all 0.1s;
}

.btnLogout:hover {
    letter-spacing: 2px;
    color: #E8EBF7;
    background-color: #f90000;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .btnLogout {
        font-family: 'Helvetica Display ExtraBold', sans-serif;
        font-size: 40px;
        text-align: center;
        background: #E4FF1A;
        width: 100%;
        color: #272727;
        transition: 0.1s;
        cursor: pointer;
        width: auto;
        max-width: 100%;
        border-radius: 20px;
        display: inline-block;
    }

    .btnLogout span {
        position: relative;
        z-index: 3;
        transition: all 0.1s;
    }

    .btnLogout:hover span {
        letter-spacing: 2px;
    }
}

/*CREATE USER*/

.labelCreateUser,
.inputCreateUser {
    font-family: 'Helvetica Display ExtraBold', sans-serif;
}

.labelCreateUser {
    color: #E8EBF7;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;

}

.inputCreateUser {
    width: 100%;
    background-color: #272727;
    color: #E8EBF7;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    text-transform: uppercase;
}

.inputCreateUser::placeholder {
    color: #E8EBF7;
    opacity: 0.5;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

    .labelCreateUser,
    .inputCreateUser {
        font-family: 'Helvetica Display ExtraBold', sans-serif;
    }

    .labelCreateUser {
        color: #E8EBF7;
        width: 100%;
        display: block;
        margin-bottom: 10px;
        font-size: 60px;
        text-align: left;

    }

    .inputCreateUser {
        width: 100%;
        background-color: #272727;
        color: #E8EBF7;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 80px;
    }

    .inputCreateUser::placeholder {
        color: #E8EBF7;
        opacity: 0.5;
    }
}

/*CIRCULAR PROGRESS*/

.circular-progress {
    display: flex;
    color: #7D53DE;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #272727;
    z-index: 999;
}

/* MESSAGE */

.titleMessage {
    display: inline-block;
    color: #E8EBF7;
    font-size: 100px;
    font-family: 'Helvetica Display Bold', sans-serif;
}

.textMessage1 {
    display: inline-block;
    color: #E8EBF7;
    font-size: 50px;
    font-family: 'Helvetica Display Bold', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

.textMessage2 {
    display: inline-block;
    color: #E8EBF7;
    font-size: 30px;
    font-family: 'Helvetica Display Bold', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

.textMessage3 {
    display: inline-block;
    color: #E8EBF7;
    font-size: 20px;
    font-family: 'Helvetica Display Bold', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}

@media (max-width: 768px),
(max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .titleMessage {
        display: inline-block;
        color: #E8EBF7;
        font-size: 100px;
        font-family: 'Helvetica Display Bold', sans-serif;
    }

    .textMessage1 {
        display: inline-block;
        color: #E8EBF7;
        font-size: 80px;
        font-family: 'Helvetica Display Bold', sans-serif;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .textMessage2 {
        display: inline-block;
        color: #E8EBF7;
        font-size: 30px;
        font-family: 'Helvetica Display Bold', sans-serif;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .textMessage3 {
        display: inline-block;
        color: #E8EBF7;
        font-size: 20px;
        font-family: 'Helvetica Display Bold', sans-serif;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .message-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100vw;
        flex-direction: column;
    }
}

/* LOGO */

.logo {
    transition: opacity 0.3s, transform 0.3s;
    padding-left: 50px;
}

.logo:hover {
    opacity: 0.7;
    transform: translate(-5px, -5px);
}