@font-face {
    font-family: 'Helvetica Display Black';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-black.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-black.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Display ExtraBlack';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-extblk.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-extblk.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Display Bold';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-bold.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-bold.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Display ExtraBold';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-extrabold.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-extrabold.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Display Medium';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-medium.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-medium.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Display Regular';
    src: url('./fonts/Helvetica Now Display/helveticanowdisplay-regular.woff2') format('woff2'),
        url('./fonts/Helvetica Now Display/helveticanowdisplay-regular.woff') format('woff');
}

/* NO TOCAR  */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* NO TOCAR  */

/* NO TOCAR  */
.content {
    flex: 1;
}

/* NO TOCAR  */

::-webkit-scrollbar {
    display: none;
}